header {
    margin-top: 20px;
    justify-content: space-between;
    color: red;
}

nav {
    text-align: right;
    align-items: center;
}

a {
    color: #FFF;
    text-decoration: none;
    align-items: center;
    margin-right: 30px;
}

.header-advanced {
    display: inline-block;
    font-size: 25px;
    padding-left: 20px;
    text-align: left;
    color: #FFF;
}

.image-logo {
    font-family: 'Open sans';
    font-size: 17px;
    text-align: right;
    transform: translateX(-38%);
}
